.card_pokemon {
    width: 200px;
    min-height: 265px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 8px;
}

.icon {
    position: absolute;
    top: 0;
    right: 0;
}


/* .image {
    max-width: 56px;
    max-height: 60px;
} */

.image img {
    width: 90px;
    height: 90px;
}

.img_bg {
    position: absolute;
    top: 30%;
    left: 30%;
}

.dados {
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados h2,
h3 {
    margin: 8px;
}

.dados h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    size: 8px;
    width: auto !important;
    color: #000000;
}

.show {
    opacity: 1 !important;
}

.hidden {
    opacity: 0 !important;
}

.input {
    display: flex;
    width: 765px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #DEE0E3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0px 0px;
}

#name {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: transparent;
}

.input i {
    align-self: center;
    margin-right: 8px;
}

.container_busca {
    margin-top: 24px;
}

.main_procurar {
    margin-top: 24px;
}

#detalhes {
    width: 147px;
    height: 40px;
    background: var(--primary);
    border-radius: 8px;
    border: none;
    margin: 8px;
    color: #343232;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    size: 15px;
    cursor: pointer;
}

.electric {
    background-color: var(--primary);
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.normal {
    background-color: #A8A878;
}

.bug {
    background-color: #A8B820;
}

.fighting {
    background-color: #C03028;
}

.flying {
    background-color: #A890F0;
}

.poison {
    background-color: #A040A0;
}

.ground {
    background-color: #E0C068;
}

.rock {
    background-color: #B8A038;
}

.ghost {
    background-color: #705898;
}

.grass {
    background-color: #78C850;
}

.psychic {
    background-color: #F85888;
}

.ice {
    background-color: #98D8D8;
}

.dragon {
    background-color: #7038F8;
}

.dark {
    background-color: #705848;
}

.fairy {
    background-color: #EE99AC;
}

.unknown {
    background-color: #68A090;
}

.shadow {
    background-color: #333158;
}

.steel {
    background-color: #B8B8D0;
}

.type {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    margin-left: 4px;
    color: var(--grey-500);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.buttonTypes {
    flex: 1;
    display: flex;
    align-items: space-between;
}